# Creating Dataframes

In [2]:
import pandas as pd
from pandas import DataFrame

In [8]:
data={'Items':['Jelly','Chocolate','Lays','Biscuits','Toffee','Pan'],
      'Issue Month':['Jan','Mar','Jun','Aug','Dec','May'],
      'Price':[20,30,40,50,10,40]
}

In [9]:
frame=pd.DataFrame(data)

In [10]:
frame

       Items Issue Month  Price
0      Jelly         Jan     20
1  Chocolate         Mar     30
2       Lays         Jun     40
3   Biscuits         Aug     50
4     Toffee         Dec     10
5        Pan         May     40

## Basic Functions

### Upper Five Rows

In [11]:
frame.head()

       Items Issue Month  Price
0      Jelly         Jan     20
1  Chocolate         Mar     30
2       Lays         Jun     40
3   Biscuits         Aug     50
4     Toffee         Dec     10

### Lower Five Rows

In [12]:
frame.tail()

       Items Issue Month  Price
1  Chocolate         Mar     30
2       Lays         Jun     40
3   Biscuits         Aug     50
4     Toffee         Dec     10
5        Pan         May     40

### Data Types

In [14]:
frame.dtypes

Items          object
Issue Month    object
Price           int64
dtype: object

### Columns

In [15]:
frame.columns

Index(['Items', 'Issue Month', 'Price'], dtype='object')