## Changing Datatypes

In [1]:
import pandas as pd
import os

In [2]:
os.chdir('C:/Users/Moiz_Ali_Abedin/Desktop/Files of Pandas')
ds=pd.read_csv('Cricket.csv')

In [3]:
ds.head()

,ConsecutiveWins,Season,Opposition_Others,Country,Ground,Home_Ground,Day_Night,PitchReport,BattingFirst,Combination Changed,Pak_Win
0,0,Summer,New Zealand,New Zealand,Wellington,No,Yes,bouncy,Yes,No,No
1,0,Summer,New Zealand,South Africa,Queenstown,No,No,bouncy,Yes,No,No
2,0,Summer,New Zealand,New Zealand,Christchurch,No,Yes,bouncy,Yes,No,Yes
3,1,Summer,New Zealand,New Zealand,Napier,No,Yes,bouncy,No,No,Yes
4,2,Summer,New Zealand,New Zealand,Hamilton,No,Yes,bouncy,Yes,No,Yes

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 11 columns):
ConsecutiveWins         95 non-null int64
Season                  94 non-null object
Opposition_Others       94 non-null object
Country                 95 non-null object
Ground                  95 non-null object
Home_Ground             94 non-null object
Day_Night               95 non-null object
PitchReport             95 non-null object
BattingFirst            94 non-null object
Combination Changed     12 non-null object
Pak_Win                 94 non-null object
dtypes: int64(1), object(10)
memory usage: 8.2+ KB

In [5]:
ds['ConsecutiveWins']=ds['ConsecutiveWins'].astype(float)

In [6]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 11 columns):
ConsecutiveWins         95 non-null float64
Season                  94 non-null object
Opposition_Others       94 non-null object
Country                 95 non-null object
Ground                  95 non-null object
Home_Ground             94 non-null object
Day_Night               95 non-null object
PitchReport             95 non-null object
BattingFirst            94 non-null object
Combination Changed     12 non-null object
Pak_Win                 94 non-null object
dtypes: float64(1), object(10)
memory usage: 8.2+ KB

In [7]:
data=pd.read_csv('Crude Oil WTI Futures Historical Data.csv')

In [8]:
data.head()

        Date  Price   Open   High    Low     Vol. Change %
0  28-Feb-20  44.76  46.49  47.03  43.85    1.10M   -4.95%
1  27-Feb-20  47.09  48.63  48.78  45.88    1.01M   -3.37%
2  26-Feb-20  48.73  50.08  50.44  48.30  884.48K   -2.34%
3  25-Feb-20  49.90  51.37  52.02  49.69  764.99K   -2.97%
4  24-Feb-20  51.43  52.60  52.64  50.45  765.52K   -3.65%

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4123 entries, 0 to 4122
Data columns (total 7 columns):
Date        4123 non-null object
Price       4123 non-null float64
Open        4123 non-null float64
High        4123 non-null float64
Low         4123 non-null float64
Vol.        4123 non-null object
Change %    4123 non-null object
dtypes: float64(4), object(3)
memory usage: 225.6+ KB

In [10]:
data['Change %']=data['Change %'].str.replace('%',' ').astype(float)

In [11]:
data.head()

        Date  Price   Open   High    Low     Vol.  Change %
0  28-Feb-20  44.76  46.49  47.03  43.85    1.10M     -4.95
1  27-Feb-20  47.09  48.63  48.78  45.88    1.01M     -3.37
2  26-Feb-20  48.73  50.08  50.44  48.30  884.48K     -2.34
3  25-Feb-20  49.90  51.37  52.02  49.69  764.99K     -2.97
4  24-Feb-20  51.43  52.60  52.64  50.45  765.52K     -3.65

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4123 entries, 0 to 4122
Data columns (total 7 columns):
Date        4123 non-null object
Price       4123 non-null float64
Open        4123 non-null float64
High        4123 non-null float64
Low         4123 non-null float64
Vol.        4123 non-null object
Change %    4123 non-null float64
dtypes: float64(5), object(2)
memory usage: 225.6+ KB

In [13]:
sum(data['Change %'])

139.0600000000003

In [14]:
ds['Day_Night']=ds['Day_Night'].str.contains('Yes').astype(int)

In [16]:
ds.head()

,ConsecutiveWins,Season,Opposition_Others,Country,Ground,Home_Ground,Day_Night,PitchReport,BattingFirst,Combination Changed,Pak_Win
0,0.0,Summer,New Zealand,New Zealand,Wellington,No,1,bouncy,Yes,No,No
1,0.0,Summer,New Zealand,South Africa,Queenstown,No,0,bouncy,Yes,No,No
2,0.0,Summer,New Zealand,New Zealand,Christchurch,No,1,bouncy,Yes,No,Yes
3,1.0,Summer,New Zealand,New Zealand,Napier,No,1,bouncy,No,No,Yes
4,2.0,Summer,New Zealand,New Zealand,Hamilton,No,1,bouncy,Yes,No,Yes

In [17]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 11 columns):
ConsecutiveWins         95 non-null float64
Season                  94 non-null object
Opposition_Others       94 non-null object
Country                 95 non-null object
Ground                  95 non-null object
Home_Ground             94 non-null object
Day_Night               95 non-null int32
PitchReport             95 non-null object
BattingFirst            94 non-null object
Combination Changed     12 non-null object
Pak_Win                 94 non-null object
dtypes: float64(1), int32(1), object(9)
memory usage: 7.9+ KB